
.task1_item {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.task1_item1 {
  background-color: red;
}

.task1_item2 {
  background-color: green;
}

.task1_item3 {
  background-color: yellow;
}

.task9_table {
  margin: 20px 0;
  border-collapse: collapse;
}

.task9_table th,
.task9_table td {
  padding: 10px;
  border: 2px solid maroon;
}

.result {
  padding: 10px;
  border: 2px solid darkcyan;
  border-radius: 5px;
}

#wrap1
{
border-style:solid;
border-width:1px;
width:50%;
font-size:20px;
margin: 0 auto;
} 